# We rely on MultiViews or the RewriteEngine. We can't check on MultiViews here,
# nor can we cleanly try to enable it here without the need for AllowOverride All.
# If you do not want to use the RewriteEngine, make sure "MultiViews" is enabled
# *explicitly* in the Apache configuration, and remove the code below.
# Requires AllowOverride FileInfo
<IfModule mod_rewrite.c>
    RewriteEngine On

    # [R]edirect HTTP to HTTPS and stop processing ([L]).
    RewriteCond %{HTTPS} !=on
    RewriteCond %{SERVER_NAME} !=localhost
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

    # Send all traffic to index.php.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php
</IfModule>
